*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: bisque;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar_cont{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;


}

.fa-gem {
    margin-right: 12px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar_links{
    color: #ff8177;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    text-decoration: none;
    height: 100%;
}
.navbar_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: red;
    color: antiquewhite;
}
.button:hover{
    background: blue;
    transition: all 0.3s ease;
}
.navbar_links:hover{
    color: #ff0844;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px){
    .navbar_cont{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px ;
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background-color: black;
    }
    .navbar_menu.active{
        background-color: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;

    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar_button{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;


    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}



.main{
    background-color: burlywood;

}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: blanchedalmond;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main_content h1{
    font-size: 30px;
     /*background-color: cadetblue;
    background-image: linear-gradient(to top, green 0%, lightgreen 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-tex-fill-color:transparent;
    -moz-text-fill-color:transparent; */
}

.main_content h2{
    font-size: 30px;
     /*background-color: cadetblue;
    background-image: linear-gradient(to top, green 0%, lightgreen 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-tex-fill-color:transparent;
    -moz-text-fill-color:transparent; */
}
.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.main_button{
    font-size: 1rem;
    background-image: linear-gradient(to top, rgba(57, 9, 64, 0.133) 0%, rgba(125, 15, 110, 0.267) 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.main_button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: purple;
    transition: all 0.35s;
    border-radius: 4px;
}
.main_button:hover{
    color: #fff;
}
.main_button:hover:after{
    width: 100%;
}
.main_img_container{
    text-align: center;

}

#main_img{
    height: 80%;
    width: 80%;
}


@media screen and (max-width:768px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main_content h2{
        font-size: 3rem;
    }
    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}
 
@media screen and (max-width:480px){
    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main_content h2{
        font-size: 2rem;
    }
    .main_content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main_button{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}


.services{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.services h1{
    background-color: bisque;
    background-image: linear-gradient(to right,
    rgb(227, 236, 227) 0%,
    rgb(174, 239, 174) 0%,
    rgb(92, 240, 92) 21%,
    rgb(66, 186, 66) 52%,
    rgb(51, 167, 51) 78%,
    rgb(12, 153, 12) 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-color: cadetblue;
    background-image: linear-gradient(to top, green 0%, lightgreen 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-tex-fill-color:transparent;
    -moz-text-fill-color:transparent;
}
.services_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
.services_card{
    margin: 1rem;
    height: 524px;
    width: 400px;
    border-radius: 4px;
    background-image: /* linear-gradient(to bottom, rgb(44, 161, 44) 0%, rgb(129, 222, 129) 100%), */
    url('/images/pic3.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}
.services_card:nth-child(2){
    background-image: /* linear-gradient(to bottom, rgb(44, 161, 44) 0%, rgb(129, 222, 129) 100%), */
    url('/images/pic2.jpg');

}
.services h2{
    position: absolute;
    top: 350px;
}
